{
    "openapi": "3.0.3",
    "info": {
        "title": "WhatsApp OSINT API",
        "description": "API to obtain WhatsApp OSINT information by phone number",
        "version": "1.0.0",
        "contact": {
            "name": "Inutil Labs",
            "email": "info@inutil.info"
        }
    },
    "servers": [
        {
            "url": "https://whatsapp-osint.p.rapidapi.com",
            "description": "Main API server"
        }
    ],
    "paths": {
        "/wspic/dck": {
            "get": {
                "tags": [
                    "OSINT Information"
                ],
                "summary": "Complete OSINT Information",
                "description": "Gets complete OSINT information from the WhatsApp number",
                "parameters": [
                    {
                        "name": "X-RapidAPI-Key",
                        "in": "header",
                        "description": "RapidAPI API key",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "YOUR_RAPIDAPI_KEY_HERE"
                        }
                    },
                    {
                        "name": "X-RapidAPI-Host",
                        "in": "header",
                        "description": "RapidAPI host",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "whatsapp-osint.p.rapidapi.com"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number with country code",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "34631428039",
                            "pattern": "^[0-9]{8,15}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OSINT information retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "profile_info": {
                                            "type": "object",
                                            "description": "WhatsApp profile information"
                                        },
                                        "verification_status": {
                                            "type": "string",
                                            "example": "verified",
                                            "description": "Number verification status"
                                        },
                                        "last_seen": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-01-15T10:30:00Z",
                                            "description": "Last seen"
                                        },
                                        "osint_data": {
                                            "type": "object",
                                            "description": "Additional OSINT data"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "OSINT information not found"
                    },
                    "401": {
                        "description": "Invalid or missing API key"
                    },
                    "429": {
                        "description": "Rate limit exceeded"
                    }
                },
                "operationId": "getOSINTInformation"
            }
        }
    },
    "components": {
        "securitySchemes": {
            "RapidAPIKey": {
                "type": "apiKey",
                "in": "header",
                "name": "X-RapidAPI-Key",
                "description": "RapidAPI API key"
            }
        }
    }
}